.custom-bg{
    background: #00cdff !important;
}

.admin .card:hover{
    background: #e8e3e3;
    cursor: pointer;
}

.list-group-item.active{
    background: #00cdff !important;
    border-color: #00cdff !important;
}

.card-product:hover{
    background: #e8e3e3;
    cursor: pointer;
}